/* ==== GOOGLE FONTS ==== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,500&display=swap');

/* ==== VARIABLES CSS ==== */

:root{

        --header-light: #3rem;
        --header-color:#d1b867;
        /* COLORS */
        --main-bg-color :#d1b867;
        --primary-header-color: #000000;
        --primary-color: #069C54;
        --primary-color-alt: #037046;
        --primary-background-color: #ecaf2c;
        --primary-background-color-alt: #1a553e;
        --title-color: rgb(68, 68, 68);
        --text-color: #353434;
        --text-color-light: #696969;
        --body-color: #585858;
        --container-color:rgb(189, 179, 167);
        --contact-bg: #1a0b2e;
        --background-color: #2d4158;
        /* ===== FONT TYPOGRAPHY ====== */

        --body-font: 'Poppins', sans-serif;
        --biggest-font-size: 2.25rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;

        /* FONT WEIGHT */

        --font-medium: 500;
        --font-semi-bold: 600;

        /* ==== MARGENES ==== */
        --mb-1: .5rem;
        --mb-2: 1rem;
        --mb-3: 1.5rem;
        --mb-4: 2rem;
        --mb-5: 2.5rem;
        --mb-6: 3rem;
    /* z index */
        --z-tooltip: 10;
        --z-fixed: 100;
}

@media screen and(min-width: 768px){
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ======= BASE ======= */

*,::Before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth';
}

.body{
    margin: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    line-height: 1.6;
    overflow: hidden;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/* ======= class css =======  */
.section{
    width: 100%;
    padding: 2rem 0 4rem;
}

.section_title, .section_subtitle{
    text-align: center;
}
.section_title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
    display: block;
    color: var(--primary-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.bd-container{
    max-width: 100%;
    width: calc(100%, 2rem);
}
.bd-grid{
    display: grid;
    gap: 1.5rem;
}

#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
/* Nav */

nav{
    max-width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}
/* NAV LOG IMAGE */

.nav_logo{
    width: 120px;
}
/* small devices */

@media screen and (max-width: 968px){
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgb(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
        display: flex;
        flex-direction: column;
        
    }


    
.nav_close{
    position: absolute;
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: .2s;
    right: 1.3rem;
    top: .5rem;
    cursor: pointer;
}

.nav_close:hover{
    color: var(--primary-background-color);
}
}

.nav_list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_item{
    margin-bottom: var(--mb-2);
<<<<<<< HEAD
    padding : 15px;
}
.nav_item:hover{
    border: 1px solid gray;
    border-radius: 15px;
=======
>>>>>>> parent of d0f62e8 (header update)
}

.nav_link, .nav_logo, .nav_toggle{
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover{
    color: var(--primary-color);
}
.nav_icon:hover{
    color: var(--primary-color);
}

.nav_link{
    color: var(--primary-header-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: var(--font-medium);
}
.nav_link:hover{
    color: var(--primary-background-color);
    transition: .2s;
}
.nav_toggle{
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 99999;
    padding: 1rem;
    transition: .2s;
}

.nav_toggle:hover{
    color: var(--primary-background-color);
}

/* show-menu */
.show-menu{
    top: 0;
    transition: .5s;
}

/* Active menu */

.active-menu{
    color: var(--primary-color);
}

.active-link{
    color: var(--primary-color);
}

.nav_icon{
    font-size: 1.3rem;
}
/* change background header*/

.scroll-header{
    box-shadow: 0 2px 4px rgba(0,0,0, .1);
}

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6,156,84,.5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop_icon{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.scroll-top{
    visibility: visible;
    bottom: 1.5rem;
}


.prev, .next{
    position: absolute;
    top: 50%;
    font-size: 50px;
    transform: translate(0, -50%);
    padding: 15px;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
}

.prev:hover, .next:hover{
    color: var(--primary-color-alt);
}

.next{
    right: 0;
}
.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;    
}

.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    cursor: pointer;
    border-radius:  50%;
    margin: 0 16px;
}
.active, .dot{
    border-color: var(--primary-color);
}


.txt{
    position: absolute;
    color: var(--primary-color);
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 50%;
    z-index: 1;
}

@media screen and(max-width: 968px){
    .home{
        flex-direction: column;
    }
    .txt{
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .txt h1{
        font-size: 40px;
    }

    p{
        font-size: 13px;
    }
    .sign{
        font-size: 13px;
    }
    .sign a{
        font-size: 1px;
    }
} 
@media screen and (max-width: 520px){
    .txt h1{
        font-size: 30px;
    }
    .sign{
        margin-right: 20px;
    }
    .sign a{
        font-size: 12px;
    }
}
/* Home page */

.home{
    /* width: 100%; */
    /* padding: 10px; */
    /* height: calc(100vh - var(--header-container)); */
    /* border-radius: 0 100% 100% 0; */
    align-items: center;
    background-color: var(--primary-background-color);
}
/* .home_data{
    margin-left: 1.2em;
} */

.home_title{
    font-size: var(--biggest-font-size);
    color: var(--primary-color);
}

.home_subtitle{
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.button{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
    outline: none;
    border: none;
}

.button:hover{
    background-color: var(--primary-color-alt);
}

/* top margin in description home page */

/* ABOUT US */
.about_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_data{
    text-align: center;
    width: 70%;
}
.about_description{
    margin-bottom: var(--mb-3);
}

.highlight{
    padding: 1rem;
    background-color: var(--primary-background-color);
    border-radius: 5px;
}
img.about_img{
    width: 100px;
    border-radius: .5rem;
    justify-content: center;    
}

.about-history{
    width: 70%;
}
.about-swiper{
    border-radius: 3px;    
}

.about_swiper_img > img{
    border-radius: 40px;
    width: 300px;
}
.section_subtitle{
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}
.left{
    margin: 0 auto;
    width: 70%;
}
.left p{
    width: 80%;
    padding: 15px;
    font-weight: normal;

}
.section_subtitle{
    margin: 20px;
    line-height: 75px;
    border-bottom: 1px solid rgb(80, 80, 80);
}
.goals{
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: var(--header-color);
    border: 1px solid rgb(63, 62, 62);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.image_content{
    width: 200px;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.ulwazi-profile{
    text-align: center;
    width: 100%;
    margin: 0 10px;
    background-color: var(--primary-background-color);
    border-radius: 10%;
    box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.496);
}

.profile-content{
    width: 60%;
    margin: 0 auto;
}

.profile{
    margin-bottom: 5rem;
}
.display-img{
    width: 200px;
    border-radius: 50%;
    margin: 1rem;
}
/* SERVICES */


/* CONTACT FORM */
.contact{
    width: 100%;
    text-align: center;
    box-shadow: 1px 5px -5px rgba(0, 0, 0, 0.849);
}

.contact_content{
    width: 50%;
    background-color: var(--contact-bg);
    color: var(--text-color-light);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    margin-bottom: var(--mb-2);
}

.contact-subtitle{
    text-align: center;
}
.contact_input{
    width: 100%;
    background-color: var(--contact-bg);
    border-radius: .5rem;
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}
.contact_label{
    font-size: 17px;
    color: var(--primary-color);
    margin: var(--mb-2);
}

/* MENU */

.menu_container{
    grid-template-columns: repeat(2fr, 1fr);
    justify-content: center;
}

.menu_content{
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: var(--container-color); */
    border-radius: .5rem;
    box-shadow: 0 5px 4px rgba(29, 63, 51, 0.287);
    padding: .75rem;
}

/* CONTACT */
.contact{
    text-align: center;
}

/* FOOTER CONTAINER */

.footer_container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer_logo{
    font-size: var(--h3-font-size);
    color: var(--primary-color-alt);
    font-weight: var(--font-semi-bold);
}
.footer_description{
    display: block;
    font-size: var(--primary-color-alt);
    margin-right: var(--mb-2);
}

.footer_title{
    font-size: var(--h2-font-size);
    color: var(--primary-color-alt);
    margin-bottom: var(--mb-2);
}

.footer_link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

.footer_copy{
    text-align: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}

/* ======MEDIA QUERIES===== */
/* small devices */
@media screen and (min-width: 800px) {
    .home{
        display: flex;
        flex-direction: column;
    }
    .about_data, .about_initial,
    .contact_container, .contact_initial{
        text-align: initial;
    }

    .about_img, .app_img{
        width: 380px;
        order: 1;
    }
    .contact_container{
        grid-template-columns: 1.75fr;
    }
    .contact_button{
        justify-self: center;
    }
}
/* medium devices */

@media screen and (min-width: 968px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 8rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        justify-content: space-between;
    }
    .nav_list{
        display: flex;
    }
    .nav_item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav_toggle{
        display: none;
    }
    .nav_close{
        display:none;
    }
    
    #nav-close{
    display: none;
}
    .home_container{
        height: 30vh;
        justify-items: center;
    }
    .services_container, 
    .menu_container{
        margin-top: var(--mb-6);
    }

    .menu_container{
        grid-template-columns: repeat(3, 210px);
        column-gap: 4rem;
    }
    .menu-content{
        width: 130px;
    }

    .home-swiper{
        width: 100%;
    }

    .about_container{
        width: 50%;
        margin: 0 auto;
        background-color: var(--main-bg-color);
        padding: 10px;
        border-radius: 15px;
    }
    .ulwazi-profile{
        width: 50%;
        background-color: transparent;
        margin: 10rem auto;
    }
    .testimonial{
        width: 100%;
        overflow: hidden;
    }
    .testimonial_container{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .address{
        margin-top: 6rem;
    }
    .address_links{
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 1.2rem;
    }

    .address_icon{
        color: var(--primary-color);
        margin-right: 1rem;
    }

.footer_content{
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        background-color:var(--contact-bg);
        align-items: center;
        font-size: 1.3rem;
    }
}

.address{
    text-align: center;

}


/* MEDIUM LARGE DEVICES */

@media screen and (max-width: 968px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .home_img{
        width: 500px;
    }
    .goals{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
        border: none;
        border-top: 15px;
        align-items: center;
        justify-content: center;
    }
      .address_links{
        display: flex;
        flex-direction: column;
    }
    .address_icon{
        margin-top: 20px;
    }
}


/* TESTIMONIALS */

.testimonial_content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.testimonial_data{
    justify-content: space-between;
    margin-bottom: var(--mb-1);
}

.testimonial_header > .testimonial_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: var(--mb-1);
}
.testimonial_name{
    font-size: var(--h3-font-size );
    font-weight: var(--font-medium);
}
.testimonial_client{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.testimonial_description{
    margin-bottom: var(--mb-3);
}

.testimonial_icon{
    color: var(--primary-color-alt);
}

/* ================= SWIPER ================ */

.swiper-container {
    width: 100%;
    padding: 50px;
    margin-top: 50px;
  }
  
  .swiper-slide {
      width: 30px;
    background-position: center;
    background-size: cover;
    -webkit-box-reflect: below .1px linear-gradient(transparent, transparent, rgba(177, 170, 170, 0.4))
  }
  
  .swiper-slide{
      width: 70%;
  }
  /* .image-slide{
    display: block;
    width: 200px;
  } */

  .home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 7rem;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius:0 20% 0 40%;
    box-shadow: 1px 4px 5px var(--primary-color);
    background-color: transparent;
  }

  /* .image-slide{
      width: 100%;
    height: 50%;
  } */

  .home-swiper{
      /* margin-top: 10rem; */
      /* margin-bottom: 7rem; */
      /* width: 70%; */
      height: 50%;
      overflow: hidden;
  }

  @media only screen and (min-width: 986px) {
    .swiper-slide:first-child {
      transition: transform 100ms;
    }

    .swiper-slide:first-child img {
      transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(50%);
      z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
      transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(55%);
      z-index: 1;
    }

    .swiper-container[dir="rtl"]
      .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }

    .swiper-container[dir="rtl"]
      .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }

    .home-swiper{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40%;
        border-radius: 15px;
        overflow: hidden;
        background-color: var(--primary-color);
    }

    .swiper-wrapper{
        width: 50%;
        height: 30%;
    }
    .swiper-slide > img {
        width: 500px;
    }
    
  }


.wrapper{
    width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#donate-button{
    color: var(--primary-color);
}

.footer_copy{
    text-align: center;
}

.ulwazi-profile{
    width: 90%;
    background-color: transparent;
    margin: 10rem auto;
}

.contact_content{
    width: 80%;
    margin: 0 auto;
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    margin-bottom: var(--mb-2);
}

.address{
    margin-top: 6rem;
}
.address_links{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.2rem;
}

.address_icon{
    color: var(--primary-color);
    margin-right: 1rem;
}
.footer_content{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    background-color:var(--contact-bg);
    align-items: center;
    font-size: 1.3rem;
}
