
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --primary-headerBg-cl: #5e4e4e;
    --primaryCl: #161616;
    --secondaryCl: rgb(255, 255, 255);
    --title-cl: linear-gradient(to right, rgb(238, 255, 0), green);
    --primary-fs: 2.3em;
    --secondary-fs: 2em;
    --tertiary-fs: 1.1rem;
    --subHeader:  rgb(0, 0, 0);
    --lineHeight: 1em;
    --highlight: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);;
    --light-fc: #333;
    --logo-bg:  #161616;
    --landing--bg: #161616;
    --body-header-scBg: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);;
    --body-bg-scBg: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);;
    --donate-bg-scBg:  rgb(218, 88, 2);
    --body-bg-scBgSecondary:  linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
    --services-bg: linear-gradient(to right, rgb(238, 255, 0), green);

    --hover: rgb(255, 110, 13);


    // Media Elements

    --primary-media-fs: 1em;
    --secondary-media-fs: .5em;


    --navbar-icon-cl:rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--primaryCl);
    font-family: Popins, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

h1{
    font-size: var(--primary-fs);
    color: var(--title-cl);
    line-height: var(--lineHeight);
}

span{
    color: var(--highlight);
}

// scroll
.holder{
    overflow: hidden;
    scroll-behavior: smooth;
}
// Navigtion Bar
.navbar{
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--primary-headerBg-cl);
    z-index: 99999;
    border-bottom: 2px solid var(--logo-bg);

    .header{
        width: 100%;
        margin: 2em;
        display: flex;
        align-items: center;
        justify-content: start;        
    }
    .logo{
        padding: 3rem 0 0 0;
        background: var(--logo-bg);
        border-radius: 0 0 2em 2em;
        right: 0;
        top: 0;
    }
    img{
        width: 100px;
        align-items: center;
        justify-content: center;
        object-fit: cover;
    }
    .navigation{ 
        justify-content: flex-end;
       .donate{
           background: var(--highlight);
           &:hover{
            background: var(--hover);
            transition: all .5s ease-in-out;
            border-bottom: 1px solid var(--secondaryCl);
            border-left: 1px solid var(--secondaryCl);
            border-right: 1px solid var(--secondaryCl);
           }
       }
    }
    .heading{
        color: var(--title-cl);
        font-size: var(--primary-fs);
    }
    ul{
        display: flex;

    }
    li{
        list-style: none;
        padding: 2rem 5rem;
                 
        &:hover{
            background: var(--hover);
            transition: all .5s ease-in-out;
            border-bottom: 1px solid var(--secondaryCl);
            a{
                color: var(--landing--bg);
            }
        }
        a{
            font-size: 1.2em;
            color: var(--navbar-icon-cl);
            text-decoration: none;
        }
    }

}
// End of Navigation Bar
// Animation keyframe
// End of Hero subheader section

// body section
.content::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.687);
    position: absolute;
    opacity: .6;
    z-index: -1;
}

.content{
    margin: 0 auto;
    text-align: center;

    }

    .left-col{
            text-align: center;
            .intro{
                display: flex;
                position: sticky;
                padding: 10px;
                text-align: center;
        
                p{
                    color: var(--secondaryCl);
                    font-size: var(--tertiary-fs);
                    background: var(--body-header-scBg);
                    padding: 10px;
                    border-radius: 10px;
                }
        .images{
            margin: 10px;
            object-fit: cover;
            img{
                width: 200px;
                height: 300px;
                border-radius: 15px;
                opacity: 0;
            }
        }
    }
}

// Background Image slider
.holder{
    position: relative;
}
.container{
    padding-top: 200px;
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url('/images/mainimg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    text-align: center;
    justify-content: center;         
    
    #landing{
        top: 50%;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 0;
        transform: translateY(-50%, -50%);
        h2{
            font-size: 1.9em;
            margin: 18px;
            padding: 10px;
            background: white;
            word-spacing: 10px; 
            color: var(--highlight);
            border-bottom: .5px solid var(--primaryCl);
            border: 1px solid var(--highlight);
            text-transform: uppercase;
        }
        #play-your-part{
            font-size: 1.7em;
            color: var(--primaryCl);
            padding: 12px 10px;
            background: transparent;
            border: .2px solid var(--landing--bg);  
            border-radius: 5px;      
            &:hover{
                color: var(--hover);
                background: var(--landing--bg);
                transition: all .5s ease 0s;
            }
            a{
                 text-decoration: none;
                 color: var(--logo-bg);
                 text-transform: uppercase;                
            }
          
        }

    }


}

// Services section
#services{
    width: 100%;
    padding: .5rem 1rem;
    z-index: 1;
    .header{
        background: var(--primary-headerBg-cl);
        text-align: center;
        padding-top: 15px;
        h2{
            font-size: 1.5em;
        }     
    }
    #what-we-do{
         text-align: center;
         background: var(--body-bg-scBg);

         h3{
             font-size: 2em;
             padding: 15px 15px 25px 15px;
             border-bottom: 1px solid var(--logo-bg);
         }
        .description{
            margin: 15px auto;
            text-align: start;
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid var(--body-bg-scBgSecondary);
         p{
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 10px;
         }      
            
        }


        
         .feature-img{
             width: 300px;
             height: 280px;
             margin: 15px;
         }
    }
    #lwazi-background{
        height: 1000px;
        width: 100%;
        background-image: url('/images/img14.jpg');
        background-size: cover;
        overflow: hidden;
        background-attachment: fixed;
        text-align: center;
        h3{
            padding: 15px;
            font-size: 1.9em;
            background-color: var(--body-bg-scBgSecondary);
        }
        p{
            font-size: 1.5em;
            padding: .7em ;
            background: var(--secondaryCl);
        }
        .slider{
            width: 100%;
            height: 450px;
            margin: 0;
            padding: 10px;
            display: flex;
            background: var(--body-bg-scBgSecondary);
            border-bottom: 2px solid var(--body-bg-scBgSecondary);    
            .slides {
                display: flex;         
        
            }
        
            .slide{ 
                transition: 6s;
        
                img{
                    width: 300px;
                    height: 350px;
                    background-size: cover;        
                }
            }
        
        
        }
    }
    #what-we-doing{
         text-align: center;
        background: var(--body-bg-scBgSecondary);
        h3{
            font-size: 1.9em;
            padding: 20px;
            background: var(--body-header-scBg);
        }
        .wrapp{
            width: 100%;
            margin: 0 auto;
            padding: .5rem 1rem;
            h4{
                font-size: 1.5em;
                padding: 1em 2em;
                margin: 0 auto;
            }
            p{
                font-size: 1.3em;
                line-height: 1.5em;
                margin: 1.3em auto;
            }
        }
    }
    h2{
        position: relative;
        color: var(--highlight);
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        z-index: 100;
    }
    h2::after{
        content: '';
        display: block;
        margin: 0 auto;
        margin-top: 1.5rem;
        width: 80px;
        background: var(--primary-headerBg-cl);
        height: 4px;
    }
    .details{       
        padding: 15px;
        text-align: center;
        background: var(--body-bg-scBgSecondary);
        h3{
            font-size: 1.5em;
            background: var(--body-header-scBg);
            padding: 10px;
        }
        ul{
            margin-top: 20px;
            padding: 20px;
        li{
            margin: 0 15%;
            font-size: 1.5em;
            line-height: 1.9em;
            text-align: start;
            }            
        }

    }
    .block{
        text-align: center;
        padding: 15px;
        p{
            font-size: 1.3rem;
        }
        .img-cont{
            width: 300px;
            height: 300px;
            padding: 20px;
            margin: 15px 20px;
            text-align: center;
        }

        .icon{
            display: flex;
            justify-content: center;
            margin: 15px auto;
        }
        .wrapper{
            margin-top: 20px;
            button{
                box-shadow: none;
            }
            #donate-button{
                margin: 20px;
                background: var(--donate-bg-scBg);
                padding: 20px 30px;
                border-radius: none;
                box-shadow: none;
                a{
                    font-size: 1.5em;
                    color: var(--secondaryCl);
                    text-decoration: none;
                }
                &:hover{
                    background: #494949;
                    letter-spacing: 1px;
                    box-shadow: 5px 40px -10px var(--logo-bg);
                }
            }
        }
    }
    .services-boxes{
        display: flex;
        align-items: center;
        background: var(--body-bg-scBg);
        padding: 1.5rem 3rem;
        h3{
            color: var(--primary-headerBg-cl);
            font-size: var(--secondary-fs);
            text-align: center;
            padding: 1rem 2rem 2rem 2rem;
        }

        p{
            line-height: 1.9rem;
        }

    }

}
// Team members section
#team{
    background-image: url('/img/img1.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    h2{
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 5px;
        background: var(--primary-headerBg-cl);
        padding: 5px;
    }
    .member-photo img{
        border-radius: 70%;
        margin: 0 auto;
        display: block;
        padding: .5rem;
        width: 200px;
        height: 200px;
        margin-top: 1rem;
        margin-bottom: 2rem;        
    }

    h3{
        font-size: 1.3em;
        font-weight: 400;
        text-align: center;
        margin-bottom: .2rem;
        font-weight: 600;
    }

    p{
        margin: 5px;
        padding: 3px;
        font-size: var(--tertiary-fs);
    }
    // Socials section
    .__socials{
        margin: 0 auto;
        align-items: center;
        padding: 5px;
    }
    .__socials img{
        height: 36px;
        width: 36px;
        padding: 5px;
        margin : 3px;
        text-align: center;
        text-justify: center;
        cursor: pointer;
        position: relative;
        border-radius: 50px;
        transform: translate(-50%, -50%);
        animation: socialMedia 2s infinite;
    }

@keyframes socialMedia{
    0% {}
    25% {background: none;}
    50% {background: none;
        filter: invert(1);}
    75% {background: none;}
    100% {}
}
    .__socials img:hover{
        height: 36px;
        width: 36px;
        position: relative;
        box-shadow: -6px -3px 3px rgba( 255, 255, 255, 0.1),
                    2px 2px 6px var(--hover);
        border-radius: 60px; 
        background: var(--hover);  
        transition: 9ms ease-out; 
       
     }

    // --End of socials section
}

.container-two{
    width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
 margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s ease background-color;
}
button[type="submit"]:hover {
  background-color: var(--highlight);

}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

// End of Team members section
// About Me Section

#about-me{
    background-image: url('/img/back.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    .last-container{
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 3rem 1rem;
        background: var(--body-bg-scBgSecondary);

        .about-in-gen{
            margin: 0 auto;;
            padding-top: 20px;
            width: 600px;

            .__socials{
                margin: .5rem auto;


                img{
                    width: 40px;
                    margin: 0 1rem;

                    &:hover{
                        filter: invert(1);
                    }
                }
            }
            
        }
    }
    h2{
        font-size: var(--primary-fs);
        font-weight: 400;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 5px;
        background: var(--primary-headerBg-cl);
        padding: 5px;
    }
    .image img{
        border-radius: 70%;
        margin: 0 auto;
        display: block;
        padding: .5rem;
        width: 200px;
        height: 200px;
        margin-top: 1rem;
        margin-bottom: 2rem;        
    }

    h3{
        font-size: var(--secondary-fs);
        font-weight: 400;
        text-align: center;
        margin-bottom: .2rem;
        font-weight: 600;
    }
    h4{
        font-size: var(--secondary-fs);
        font-weight: 400;
        text-align: center;
        margin-bottom: .2rem;
        font-weight: 600;
    }

    p{
        margin: 5px;
        padding: 3px;
        font-size: var(--tertiary-fs);
    }

}
// End of About Me Section
footer{
    bottom: 0;
    width: 100%;
    background: var(--body-bg-scBgSecondary);
    border: 1px solid black;
}

.main-content{
    display: flex;

    .box{
        flex-basis: 50%;
        padding: 10px 20px;

        .items{
            margin: 20px 0 0 0;

            .social{
                margin: 20px 0 0 0;
            }
            img{
                width: 80px;
            }
        }
    }
    .left{
        display: flex;
        margin: 10px;
        p{
            justify-self: flex-start;
        }

        }
    h2{
        font-size: 1.1rem;
        font-weight: 300;
        text-transform: uppercase;
    }

}


@media screen and (max-width: 1000px){
    .navbar{
        top: 0;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        background: var(--primary-headerBg-cl);
        z-index: 99;
        .header{
            width: 100%;
            margin: .5em;
            display: flex;
            align-items: center;
            justify-content: start;        
        }

        .logo{
            padding: 1rem 0 0 0;
            background: var(--primary-headerBg-cl);
            border-radius: 0 0 2em 2em;
            right: 0;
            top: 0;
        }
        img{
            width: 100px;
            align-items: center;
            justify-content: center;
            object-fit: cover;
        }

        .navigation{
            text-decoration: none;
            filter: invert(1);
            justify-content: flex-end;
            display: none;
           
        }
        .heading{
            color: var(--title-cl);
            font-size: 1.6em;
        }
        ul{
            display: flex;
    
        }
            li{
        list-style: none;
        padding: 0 2rem;         
    }
    .menu{
        margin: 5em;
        i{
            width: 100px;
        }
    }

    }
#container{
    width: 100%;
}
    .hero{
        width: 100%;
        margin: 70px 5px 0 5px;
        text-align: center;
        text-justify: center;    
        
    }

    .upper{
        margin: 3px 4px;
        }   
        p.subhead{
            color: var(--secondaryCl);
            letter-spacing: .1em;
            font-size: var(--secondary-media-fs);
            // background: var(--body-bg-scBg)
        }

    .subhead{
        margin: 3px 0;
        padding: 3px;
    }
    .logo, .subhead{
         border-radius: 100px;
    }

    
    .holder{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url('/img/park1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    
    }

    .block{
        width: 100%;
        padding: .5rem 1rem;
    }
    #services{
        width: 100%;
        padding: .5rem 1rem;
         .services-boxes{
            display: block;
            align-items: center;
            background: var(--body-bg-scBg);
            h3{
                color: var(--primary-headerBg-cl);
                font-size: var(--secondary-fs);
                text-align: center;
                padding: 2rem 2rem;
            }
            
            p{
                color: var(--light-fc);
                font-size: var(--tertiary-fs);
            }
    
        }
        #what-we-do{
            h3{
                font-size: 1.2em;
    
            }
            .description{
            
                p{
                    font-size: 15px;
                }
        }
        }
        #lwazi-background{
            h3{
                font-size: 1.2em;
            }
            p{
                font-size: 16px;
            }
            .slider{
                width: 500px;
                    .slides{
                    width: 400px;                   
                }
            }
    
        }
        .details{       

            h3{
                font-size: 1.5em;
            }  
    
        }
        #what-we-doing{
            h3{
                font-size: 1.2em;
            }
            .wrapp{
            display: block;
            padding: 20px;

            .display-img{
                width: 200px;
            }
            
            p{
                font-size: 16px;
                line-height: 25px;
            }
            }   

            
        }
    
    }

    .container-two{
        .form-group{
            color: white;
            font-size: 15px;
            .sub-button{
                color: var(--highlight);
            }
        }
    }

}
